$colorWhite: #fff;
$colorBlack: #000;
$colorBodySilver: #c4c4c4;
$colorText: #333;
$colorSmokyWhite: #e9e9e9;
$colorGreen: #20c997;
$colorLightGrey: #cacaca;
$colorTitian: #ce4307;
$colorWetAsphalt: #4a4a4a;
